.avatar {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 5rem;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    width: 5rem;
}
